name: On Push

on: push

jobs:

  build:
    name: Google Cloud Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Authenticate w/ Google Cloud
      uses: actions/gcloud/auth@master
      env:
        GCLOUD_AUTH: ${{ secrets.GCLOUD_AUTH }}
    - name: Build, Test, Push to GCR
      uses: actions/gcloud/cli@master
      with:
        entrypoint: sh
        args: -l -c "SHORT_SHA=$(echo ${{ github.sha }} | head -c7) && BRANCH_NAME=$(git
          name-rev --name-only HEAD) && gcloud builds submit . --config cloudbuild.yaml
          --project zealous-zebra --substitutions BRANCH_NAME=$BRANCH_NAME"

  coverage:
    #needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - run: |
        cargo install cargo-tarpaulin
        cargo tarpaulin -v

    # If this is uncommented, it will pull the image it `uses` even if the
    # conditional expression evaluates to 'false'.
    #
    # - name: Build Fuzzers
    #   if: startsWith(github.ref, 'ref/heads/master') && endsWith(github.ref, 'ref/heads/master')
    #   uses: docker://gcr.io/zebrad/master:latest
    #   with:
    #     entrypoint: sh
    #     args: -c "cd fuzz/; cargo install --force afl honggfuzz; cargo hfuzz build; cargo afl build; exit 0"
